

.parallax {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

.parallax, .parallax_layer {
  height: 1000px;
}

.parallax_layer.parallax {
position: absolute;
}

.parallax_layer {
  background-repeat: no-repeat;
  width: 100%;
}

.Stars {
  background-image: url(./bgStars.jpg);
}

.parallax_layer.Stars {
  height: 1000px;
  background-size: auto 1300px;
  background-position: center bottom;
}

.Mtn1 {
  background-image: url(./imgbin_mountain-polygon-euclidean-png.png);
}

.parallax_layer.Mtn1 {
  background-size: auto 1000px;
  background-position: bottom center;
}

.Fog1 {
  background-image: url(./Fog1.png);
}

.parallax_layer.Fog1 {

  opacity: 70%;
  background-size: auto 2000px;
  background-position: bottom center;
  padding-top: 1000px;
  
}

// .Circle2 {
//   background-image: url(./Circle2.png);
// }

// .parallax_layer.Circle2 {
//   background-size: auto 600px;
//   background-position: bottom center; 

// }



// .Circle1 {
//   background-image: url(./Circle1.png);
// }

// .parallax_layer.Circle1 {
//   background-size: auto 400px;
//   background-position: bottom center;
// }

.main_container {
  position: relative;
  z-index: 98;
  background-color: rgb(2, 0, 0);
}

element.style {
  transform: translate3d(0px, 0px, 0px);
}