@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.parallax {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

.parallax, .parallax_layer {
  height: 1000px;
}

.parallax_layer.parallax {
position: absolute;
}

.parallax_layer {
  background-repeat: no-repeat;
  width: 100%;
}

.Stars {
  background-image: linear-gradient(rgb(111, 97, 172), rgba(168, 68, 93, 0.993), rgba(194, 175, 6, 0.993));
}


.Mtn1 {
  background-image: url(./bgCloudMtn1.png);
}

.parallax_layer.Mtn1 {
  background-size: auto 910px;
  background-position: bottom center;
  margin-top: -170px;
}

.Fog1 {
  background-image: url(./Fog1.png);
}

.parallax_layer.Fog1 {

  opacity: 70%;
  background-size: 2000px 700px;
  background-position: bottom center;
  
}

.Mtn2 {
  background-image: url(./bgCloudMtn2.png);
}

.parallax_layer.Mtn2 {
  background-size: auto 910px;
  background-position: bottom center; 
  margin-top: -65px;
  
  

}

.Fog2 {
  background-image: url(./Fog1.png);
}

.parallax_layer.Fog2 {

  opacity: 60%;
  background-size: 2000px 500px;
  background-position: bottom center;
  
}

.Mtn3 {
  background-image: url(./bgCloudMtn3.png);
}

.parallax_layer.Mtn3 {
  background-size: auto 1000px;
  background-position: bottom center; 
  margin-top: -150px;

}

.Fog3 {
  background-image: url(./Fog1.png);
}

.parallax_layer.Fog3 {

  opacity: 60%;
  background-size: 2000px 450px;
  background-position: bottom center;

  

  
}

.Mtn4 {
  background-image: url(./bgCloudMtn4.png);
}

.parallax_layer.Mtn4 {
  background-size: auto 1000px;
  background-position: bottom center;
  margin-top: -120px;
}

.Title {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(247, 241, 241);
  padding-top: 50px;
  position: relative;

}

.hireBtn{
  width:120px;
  border: 1px solid white;
  color: white;
  margin: 2px;
}

.hireBtn:hover{
  background-color: rgba(140, 49, 168, 0.993);
  border: rgba(140, 49, 168, 0.993);
}

.aboutBtn{
  width:120px;
  border: 1px solid white;
  color: white;
  margin: 2px;
}

.aboutBtn:hover{
  background-color: rgba(140, 49, 168, 0.993);
  border: rgba(140, 49, 168, 0.993);
}

.projectsBtn{
  width:120px;
  border: 1px solid white;
  color: white;
  margin: 2px;
}

.projectsBtn:hover{
  background-color: rgba(140, 49, 168, 0.993);
  border: rgba(140, 49, 168, 0.993);
}

.Fog4 {
  background-image: url(./Fog1.png);
}

.parallax_layer.Fog4 {

  opacity: 55%;
  background-size: 2000px 600px;
  background-position: bottom center;
  margin-top: 200px;
  
}

.treeline {
  background-image: url(./Group2.png);
}

.parallax_layer.treeline{
  background-size: auto 1000px;
  background-position: bottom center;
  margin-top: 450px;
}

.main_container {
  position: relative;
  z-index: 98;
  background-color: #222831;
  background-size: cover;
  color: white;
  padding: 0px;
  margin: 0px;
}

element.style {
  transform: translate3d(0px, 0px, 0px);
}