

.parallax {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}

.parallax, .parallax_layer {
  height: 1000px;
}

.parallax_layer.parallax {
position: absolute;
}

.parallax_layer {
  background-repeat: no-repeat;
  width: 100%;
}

.Stars {
  background-image: url(./bgStars.jpg);
}

.parallax_layer.Stars {
  height: 1000px;
  background-size: auto 1300px;
  background-position: center bottom;
}

.Sun {
  background-image: url(./bgSun.png);
}

.parallax_layer.Sun {
  background-size: auto 500px;
  background-position: center center;
}

.firstRange {
  background-image: url(./bgZion2.png);
}

.parallax_layer.firstRange {
  background-size: auto 1000px;
  background-position: right bottom;
  
}

.secondRange {
  background-image: url(./bgZion1.png);
}

.parallax_layer.secondRange {
  background-size: auto 1000px;
  background-position: left bottom; 
  padding-left: 300px;
}



.finalRange {
  background-image: url(./bgZion4.png);
}

.parallax_layer.finalRange {
  background-size: auto 1120px;
  background-position: left bottom;
  padding-top: 0px;
  padding-left: 300px;
}

.main_container {
  position: relative;
  z-index: 98;
  background-color: rgb(2, 0, 0);
}

element.style {
  transform: translate3d(0px, 0px, 0px);
}